<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>


    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p]-[%t]-[%c{1}] (%F:%L) %m%n"/>
        </layout>
    </appender>

    <appender name="RootAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/avmon.notify.log"/>
        <param name="MaximumFileSize" value="2000000"/>
        <param name="MaxBackupIndex" value="50"/>
        <param name="MaxFileSize" value="2MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p]-[%t]-[%c{1}] (%F:%L) %m%n"/>
        </layout>
    </appender>

    <logger name="com.hp.avmon.notify">
        <level value="DEBUG"/>
        <appender-ref ref="ConsoleAppender"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
        <appender-ref ref="ConsoleAppender"/>
    </logger>

    
</log4j:configuration>
