
#mainEnginePanel {
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}

#mainEnginePanel .thumb {
    padding: 3px;
}

#mainEnginePanel .thumb-wrap {
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}

#mainEnginePanel .thumb-wrap span {
    display: block;
    overflow: hidden;

}

#mainEnginePanel .thumb span {
    display: block;
    overflow: hidden;

}

#mainEnginePanel .x-view-over {
    border:1px solid #dddddd;
    background-color: #efefef;
    padding: 4px;
}

#mainEnginePanel .x-item-selected {
    background: #DFEDFF;
    border: 1px solid #6593cf;
    padding: 4px;
}

#mainEnginePanel .x-item-selected .thumb {
    background:transparent;
}

#mainEnginePanel .x-item-selected span {
    color:#1A4D8F;
}

#mainEnginePanel .loading-indicator {
    font-size:11px;
    background-image:url('../../resources/images/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

#images img {
    margin: 20px;
}

/* 锟斤拷锟芥级锟斤拷图锟斤拷 */ 
.icon-level0 { 
	width:16px; 
	height:16px;
}

/* 锟斤拷锟斤拷锟斤拷锟酵凤拷锟斤拷锟�*/ 
.BarText { 
	font: 8px Arial, Helvetica, sans-serif;
	width: 16px;
	text-align: right;  
	margin-left:4px;
	/*font-size:8px;
	font-weight:blod;*/
	float: left; 
	color: black; 
}

/* 锟斤拷锟斤拷锟斤拷锟斤拷 */ 
.ProgressBar1 {  
	margin-left:29px;
	margin-top:2px;
	position: relative;  
	width: 78px;    /* 锟斤拷锟�*/ 
	border: 1px solid #B1D632;  
	padding: 1px;  
}

/* 锟斤拷锟斤拷锟斤拷锟斤拷 */ 
.ProgressBar2 {  
	margin-left:29px;
	margin-top:2px;
	position: relative;  
	width: 78px;    /* 锟斤拷锟�*/ 
	border: 1px solid #B1D632;  
	padding: 1px;  
}

/* 锟斤拷锟斤拷锟斤拷俜直锟�*/ 
.ProgressBar1 div {  
	display: block;  
	position: relative;  
	background: #B1D632;  
	color: #333333;  
	height: 6px; /* 锟竭讹拷 */ 
	line-height: 6px;  /* 锟斤拷锟斤拷透叨锟揭伙拷拢锟斤拷谋锟斤拷锟斤拷艽锟街憋拷锟斤拷锟�*/ 
}

/* 锟斤拷锟斤拷锟斤拷俜直锟�*/ 
.ProgressBar2 div {  
	display: block;  
	position: relative;  
	background: red;  
	color: #333333;  
	height: 6px; /* 锟竭讹拷 */ 
	line-height: 6px;  /* 锟斤拷锟斤拷透叨锟揭伙拷拢锟斤拷谋锟斤拷锟斤拷艽锟街憋拷锟斤拷锟�*/ 
}

/* 锟斤拷锟斤拷锟斤拷俜直锟斤拷锟斤拷锟� 锟斤拷色 */ 
.ProgressBar1 div span {  
	font-size:8px;
	position: absolute;  
	width: 78px; /* 锟斤拷锟�*/ 
	text-align: center;  
	font-weight: bold;  
	color: black; 
}

/* 锟斤拷锟斤拷锟斤拷俜直锟斤拷锟斤拷锟� 锟斤拷色*/ 
.ProgressBar2 div span {   
	font-size:8px;
	position: absolute;  
	width: 78px; /* 锟斤拷锟�*/ 
	text-align: center;  
	font-weight: bold;  
	color: black; 
}