
#Local Env
connection.url=jdbc:postgresql://16.159.216.151:5432/avmon
connection.username=postgres
connection.password=postgres
connection.driver_class=org.postgresql.Driver

sms.webservice.method=sendInfo
sms.webservice.url=http://10.204.96.24:9006/mnp_sp/services/ServSysSendInfoPinSOAP
check.interval=5
sms.sender.class=com.hp.avmon.notify.SmsSenderExample

mail.smtp.host=ts-china-km1
mail.smtp.port=25
#true or false
mail.smtp.auth=false
mail.from.address=Avmon-System@hp.com
mail.username=Avmon-System
mail.password=

