<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  	<display-name>avmon-web</display-name>
  
  	<session-config>
		<session-timeout>200</session-timeout>
	</session-config>
	
  	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
  	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>
			classpath:applicationContext.xml
		</param-value>
  	</context-param>
  	
  	  
  	<servlet>
		<servlet-name>axis</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>axis</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	
	
  	<servlet>
    	<servlet-name>appServlet</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	<init-param>
	      	<param-name>contextConfigLocation</param-name>
	      	<param-value>classpath:servlet-context.xml</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>appServlet</servlet-name>
    	<url-pattern>/</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>appServlet</servlet-name>
    	<url-pattern>*.do</url-pattern>
  	</servlet-mapping>
  
<!-- for resolving HouseKeeper bug-->
  <servlet> 
    <servlet-name>loadServlet</servlet-name> 
    <servlet-class>com.hp.avmon.utils.HouseKeeperServlet</servlet-class> 
    <load-on-startup>1</load-on-startup> 
  </servlet>
	
  	<!-- 著名 Character Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<!-- 强制进行转码 -->
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Gzip 解压 filter -->
	<filter>
	    <filter-name>GzipJsFilter</filter-name>
	    <filter-class>com.hp.avmon.filters.GzipJsFilter</filter-class>
	    <init-param>
	        <param-name>headers</param-name>
	        <param-value>Content-Encoding=gzip</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
		<filter-name>GzipJsFilter</filter-name>
		<url-pattern>*.gzjs</url-pattern>
	</filter-mapping>
	
	<!-- 访问  filter -->
	<filter>
    	<filter-name>userFilter</filter-name>
    	<filter-class>com.hp.avmon.filters.AuthorityFilter</filter-class>
  	</filter>
    <filter-mapping>
    	<filter-name>userFilter</filter-name>
    	<url-pattern>*.jsp</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
    	<filter-name>userFilter</filter-name>
    	<url-pattern>*</url-pattern>
  	</filter-mapping>
	
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
 	<listener>
		<listener-class>com.hp.avmon.common.listener.SystemInitListener</listener-class>
	</listener>
  
  	<!-- Error Page定义 -->
	<error-page>
		<error-code>500</error-code>
		<location>/pages/commons/timeout.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pages/error/Error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/pages/commons/timeout.jsp</location>
	</error-page>
	
	<jsp-config>
		<taglib>
			<taglib-uri>/fmt-rt</taglib-uri>
			<taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
		</taglib>
			
		<taglib>
			<taglib-uri>/core-rt</taglib-uri>
			<taglib-location>/WEB-INF/c-rt.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
  	</welcome-file-list>	
  
  	<!-- iReport 配置 begin -->
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/ireport/common/rptTemplate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NetCheckImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NetCheckImageServlet</servlet-name>
		<url-pattern>/ireport/netcheck/rptTemplate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ArpCheckImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArpCheckImageServlet</servlet-name>
		<url-pattern>/ireport/arpcheck/rptTemplate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeviceListImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceListImageServlet</servlet-name>
		<url-pattern>/ireport/devicelist/rptTemplate</url-pattern>
	</servlet-mapping>
	
	<listener>
	<listener-class>com.hp.avmon.ireport.sql.SqlTimer</listener-class>
	</listener>
   	<!-- iReport 配置 end-->	
</web-app>